@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.disabled {
  color: #9ca3af;
  background-color: #e5e7eb;
  border-color: #e5e7eb;
  pointer-events: none;
}

input:focus ~ span,
input:not(:placeholder-shown) ~ span {
  top: -0.75rem;
  color: #272343;
  font-size: 1rem;
}

input:not(:focus):invalid ~ p {
  visibility: hidden;
}

input:valid ~ p {
  visibility: hidden;
}

input:invalid ~ p {
  visibility: visible;
}

input:focus:invalid ~ span {
  color: #ef4444;
}
